font-family: 'Open Sans', Bold, Light;

{background-color: #1F1F3D;}   /* Dark Purple */
{background-color: #5356A4;}   /* Medium Purple */
{background-color: #353567;}   /* Dark Lavender */
{background-color: #A9AAD2;}   /* Lavender */
{background-color: #BFBFDD;}   /* Medium Lavender */
{background-color: #E9E9F3;}   /* Medium Pink */
{background-color: #EAEAF4;}   /* Light Pink */
{background-color: #E9E9F3;}   /* Light Lavender */
{background-color: #FFFFFF;}   /* White */


body, html {
 margin: 0;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 font-family: 'Open Sans';
 background-size: cover;
 background-color: #EAEAF4;
}

.left-menu {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 height: 100%;
 width: 20%;
 background-color: #1F1F3D;
}

h1 {
 display: flex;
 justify-content: flex-start;
 align-content: flex-start;
 align-items: center;
 font-style: 'Open Sans';
 font-size: x-large;
 color: #E9E9F3;
 padding-left: 10px;
}

.left-menu-buttons {
 padding-top: 15px;
 border-top: 2px solid #353567;
 border-bottom: 2px solid #353567;
 padding-bottom: 15px;
}

.filter-ideas-button {
 display: flex;
 justify-content: flex-start;
 font-size: large;
 font-style: 'Open Sans, Light';
 color: #BFBFDD;
 background-color: #1F1F3D;
 border: none;
 height: 50px;
 width: 280px;
 padding-top: 15px;
 padding-left: 13px;
}


.show-ideas-button {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 font-size: x-large;
 font-style: 'Open Sans, Bold';
 color: #E9E9F3;
 background-color: #5356A4;
 border: 2px;
 border-style: solid;
 border-color: #353567;
 height: 50px;
 width: 250px;
 margin-left: 15px;
}

.right-menu {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 background-color: #A9AAD2;
 padding-left: 25%;
 height: 40%;
 width: 75%;
}

.create-idea {
 display: flex;
 flex-direction: column;
 background-color: #A9AAD2;
 border-top-color: #1F1F3D;
 border-left-color: #EAEAF4;
 border: 7px;
}

#idea-name-textbox {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 align-items: center;
 background-color: white;
 border: 2px;
 border-style: solid;
 border-color: #5356A4;
 font-size: Medium;
 font-style: 'Open Sans, Light';
 color: #1F1F3D;
 height: 50px;
 width: 500px;
 margin-top: 20px;
}

#idea-body-textbox {
 display: flex;
 flex-direction: column;
 align-content: space-around;
 background-color: white;
 border: 2px;
 border-style: solid;
 border-color: #5356A4;
 font-size: Medium;
 font-style: 'Open Sans, Light';
 color: #1F1F3D;
 height: 100px;
 width: 500px;
 margin-top: 35px;
}

.save-button {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #1F1F3D;
 border: 2px;
 border-style: solid;
 border-color: #5356A4;
 font-size: x-large;
 font-family: 'Open Sans';
 color: #E9E9F3;
 margin-top: 20px;
 height: 55px;
 width: 500px;
 padding: 10px;
}

/*
.searchbox-button {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-top: #5356A4
 border-left: #5356A4
 border-bottom: #5356A4
 border: 7px
 background-color: #1F1F3D;
 height: 50px;
 width: 50px;
 background-image: url('./assets/search.svg')
}

#searchbox-textbox {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-color: white;
 border: 7px;
 border-color: #5356A4;
 font-size: Medium;
 font-style: 'Open Sans, Light';
 font-color: #1F1F3D;
 margin-top: 75px;
 height: 50px;
 width: 200px
}

.idea-grid {
 display: flex;
 background-color: #EAEAF4;
} */

.idea-form {
 display: flex;
 border: 1px solid #1F1F3D;
}

.star-bar {
 display: flex;
 background-color: #1F1F3D;
}

.idea-body {
 display: flex;
 color: #1F1F3D;
 background-color: #FFFFFF;
}

.comment-bar {
 display: flex;
 color: #E9E9F3;
 background-color: #5356A4;
}

/*
.hidden {
 display: none;
} */
